/* Normal desktop :1200px. */
@media (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (max-width: 1200px) {


}


/* Tablet desktop :768px. */
@media (max-width: 991px) {

    .trending-area .trending-main .trending-top .trend-top-img img{
        height: 300px !important;
    }

}


/* small mobile :320px. */
@media (max-width: 767px) {


}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
/* .container {width:450px} */

}
